HCB:
  API:
    BaseUrl: "https://hcb.hackclub.com/api/v3"
    UserAgent: "HCB Transaction Fetcher (https://github.com/Ssmidge/HCBFetcher; https://ssmidge.xyz (@Adrian T on Slack))"
  MonitoredOrganizations: # organizations to stalk i mean monitor
    - "org_a29uVj" # HQ
    - "org_8VujyG" # WeLikeToCodeStuff - https://wltcs.us
    - "org_9rupz3" # RPKI.WIN - My free hosted RPKI service
    - "org_5Gu7vq" # Dillan's community newsletter
    - "org_7XuN55" # International Mailing Fund
    - "org_XDuWl0" # Revolution
    - "Arcade" # Arcade
    - "Ragnohacks"
    # Removed Aarya due to too many people asking for "personal" acounts :sob:
    #- "arav"
Slack:
  Tokens:
    Bot: ""
    App: ""
  Secrets:
    Signing: ""
  Channels:
    TransactionTracker: ""
Web:
  Port: 3000
Cache:
  Redis:
    URI: redis://localhost:6379

Logging:
  Level: "INFO"
