HCB:
  API:
    BaseUrl: "https://hcb.hackclub.com/api/v3"
    UserAgent: "HCB Transaction Fetcher (https://github.com/Ssmidge/HCBFetcher; https://ssmidge.xyz (@Adrian T on Slack))"
  MonitoredOrganizations: # organizations to stalk i mean monitor
    - "Arcade"
    - "HQ"
    - "WeLikeToCodeStuff"
    - "Ragnohacks"
    - "arav"
    - "rpki"
    - "leo-s-eu-mailing-fund"
Slack:
  Tokens:
    Bot: ""
    App: ""
  Secrets:
    Signing: ""
  Channels:
    TransactionTracker: ""
Web:
  Port: 3000
Cache:
  Redis:
    URI: redis://localhost:6379

Logging:
  Level: "INFO"